.header {
  background-color: #1976d2;
  color: white;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

/* Left title */
.logo {
  font-size: 22px;
  font-weight: 600;
}

/* Right menu */
.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

/* Active route */
.nav a.active {
  border-bottom: 2px solid white;
}
